
@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-Light.WOFF2') format('woff2'), url('TTF/IosevkaPride-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-LightItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-Regular.WOFF2') format('woff2'), url('TTF/IosevkaPride-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-Italic.WOFF2') format('woff2'), url('TTF/IosevkaPride-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-Medium.WOFF2') format('woff2'), url('TTF/IosevkaPride-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-MediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-SemiBold.WOFF2') format('woff2'), url('TTF/IosevkaPride-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-SemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-Bold.WOFF2') format('woff2'), url('TTF/IosevkaPride-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-BoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-BoldItalic.TTF') format('truetype');
}
