
@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-Thin.WOFF2') format('woff2'), url('TTF/IosevkaPride-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-ExtendedThin.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-ThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-ThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaPride-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-ThinItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-ExtraLight.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-ExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-ExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaPride-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-ExtraLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-Light.WOFF2') format('woff2'), url('TTF/IosevkaPride-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-ExtendedLight.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaPride-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-LightItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-Regular.WOFF2') format('woff2'), url('TTF/IosevkaPride-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-Extended.WOFF2') format('woff2'), url('TTF/IosevkaPride-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-ExtendedOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaPride-ExtendedOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-Italic.WOFF2') format('woff2'), url('TTF/IosevkaPride-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-ExtendedItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-Medium.WOFF2') format('woff2'), url('TTF/IosevkaPride-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-ExtendedMedium.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaPride-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-MediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-SemiBold.WOFF2') format('woff2'), url('TTF/IosevkaPride-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaPride-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-SemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-Bold.WOFF2') format('woff2'), url('TTF/IosevkaPride-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-ExtendedBold.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaPride-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-BoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-ExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaPride-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-Heavy.WOFF2') format('woff2'), url('TTF/IosevkaPride-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaPride-ExtendedHeavy.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-HeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaPride-HeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaPride-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaPride-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-HeavyItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaPride-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF/IosevkaPride-ExtendedHeavyItalic.TTF') format('truetype');
}
