
@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaPride-Light.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedLight.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaPride-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaPride-LightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaPride-LightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaPride-Regular.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaPride-Extended.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaPride-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaPride-Oblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaPride-Italic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaPride-Medium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedMedium.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaPride-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaPride-MediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaPride-MediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaPride-SemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaPride-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaPride-SemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaPride-SemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaPride-Bold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedBold.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaPride-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaPride-BoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaPride-BoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Pride Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaPride-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF-unhinted/IosevkaPride-ExtendedBoldItalic.TTF') format('truetype');
}
